.a1 {
    width: 50px;
    aria-valuenow: 50;
    aria-valuemin: 0;
    aria-valuemax: 100;
}

.a2 {
    width: 20%;
    aria-valuenow: 20;
    aria-valuemin: 0;
    aria-valuemax: 100;
}

.a3 {
    width: 40%;
    aria-valuenow: 40;
    aria-valuemin: 0;
    aria-valuemax: 100;
}
.a4{
    width: 60%;
    aria-valuenow:60;
    aria-valuemin:0;
    aria-valuemax:100;
                          
}
.a4{
    width: 60%;
     aria-valuenow: 60;
     aria-valuemin: 0;
     aria-valuemax: 100;
     
                          
}
.a5{
    width: 100%;
     aria-valuenow:100; 
     aria-valuemin:0; 
     aria-valuemax:100;
  }
  .a6{
    width: 25rem;
  }
  .toggled{
    overflow: visible;
    width: 5rem !important;
  }
  .toggled1{
    width: 0 !important;
    overflow: hidden;
  }
  .logo { 
    /* background: url("/path") no-repeat;  */
    width: 100px !important; 
    height: 100px !important; 
    display: block !important; 
    text-indent: -9999px;
}